.auth-page__content {
  text-align: center;
  padding: 94px 10px 177px 10px;
}

.auth-page__content .auth-form .auth-form__inputs .authBtn {
  max-width: 315px;
  width: 100%;
  margin-top: 52px;
}

.auth-page__content > h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 36px;
}
