.footer {
  padding: 82px 10px 42px 10px;
  flex: 0 0 auto;
}

.footer-container {
  max-width: 983px;
  width: 100%;
  margin: 0 auto;
}

.footer__container__row {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__logo {
  font-size: 20px;
  line-height: 24px;
  max-width: 206px;
  width: 100%;
}

.footer__link__items__container {
  display: flex;
}

.footer__link__item {
  padding: 15px 13px;
  font-size: 26px;
  line-height: 31px;
  transition: all 0.3s ease-in-out;
}

.footer__link__item:hover {
  color: #bdbdbd;
}

/* mobile version */

@media (max-width: 767px) {
  .footer__container__row {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
  }

  .footer__link__items__container {
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
